* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Signup CSS */
.signupAlert {
    display: none;
}
#firstname, #lastname, #email, #password {
    border: 2px solid rgba(0, 0, 0, 0.5);
}
#firstname:focus, #lastname:focus, #email:focus, #password:focus {
    border: 2px solid rgb(0, 0, 0);
}
#password {
    position: relative;
}
.passwordVisibility {
    position: absolute;
    cursor: pointer;
    top: 64.4%;
    left: 36.6%;
}
.signupButton {
    background-color: #E7003B;
}
.signupButton:hover, .signupButton:active {
    background-color: #F12845;
}
.loginLink {
    color: #F12845;
    text-decoration: none;
}