* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginAlert {
    display: none;
}
#email, #password {
    border: 2px solid rgba(0, 0, 0, 0.5);
}
#email:focus, #password:focus {
    border: 2px solid rgb(0, 0, 0);
}
#password {
    position: relative;
}
.passwordVisibility {
    position: absolute;
    cursor: pointer;
    top: 59.4%;
    left: 36.6%;
}
.signupButton, .loginButton {
    background-color: #E7003B;
}
.loginButton:hover, .loginButton:active {
    background-color: #F12845;
}
.signupLink {
    color: #F12845;
    text-decoration: none;
}